# ASSIGNMENT - 2

# SLASH LINES

In [6]:
print("Hello \
world")

Hello world

# TRIPLE QUOTES

In [7]:
print(""" (\_/)
( •,•)
(")_(")""")

 (\_/)
( •,•)
(")_(")

# ESCAPE SEQUENCE

In [8]:
print("Hello \tpython")

Hello 	python

In [9]:
print("Hello \npython")

Hello
python

In [11]:
print('python\'s world')

python's world

# FORMATTED OUTPUT

In [12]:
name = "abc"
marks = 99.77
age = 21
print("the name of person is",name,"mark is",marks,"ageis",age)

the name of person is abc mark is 99.77 ageis 21

In [14]:
print("The name is %s mark is %f age is %d"%(name,marks,age))

The name is abc mark is 99.770000 age is 21

In [17]:
print("The name is %10s mark is %10.5f age is %d"%(name,marks,age))

The name is        abc mark is   99.77000 age is 21

In [20]:
print (f"the name is {name} mark is {marks} age is {age}")

the name is abc mark is 99.77 age is 21

# PYTHON ASSIGNMENT STATEMENT

In [23]:
x=y=20
x

20

In [24]:
id(x)

140730941613040

In [25]:
id(y)

140730941613040

# ARITHMETIC OPERATOR

In [26]:
10+20

30

In [27]:
20-10

10

In [28]:
20*2

40

In [29]:
10/3

3.3333333333333335

In [30]:
10%3

1

In [31]:
10//3

3

# COMPARISON OPERATOR

In [34]:
a=10
b=10
a == b

True

In [35]:
a = 10
b= 20
a == b

False

In [36]:
a < b

True

In [37]:
a > b

False

In [38]:
a <= b

True

In [39]:
a >= b

False

In [40]:
a != b

True

# ASSIGNMENT OPERATOR

In [44]:
a = 70
b = 50
a+=b
print(a)

120

In [45]:
a = 70
b = 50
a-=b
print(a)

20

In [46]:
a = 70
b = 50
a*=b
print(a)

3500

In [47]:
a = 70
b = 50
a/=b
print(a)

1.4

In [49]:
a = 3
b = 3
a**=b
print(a)

27

# BITWISE OPERATOR

In [50]:
bin(7)

'0b111'

In [55]:
7 | 8

15

In [59]:
7 & 8

0

In [60]:
~ 7

-8

In [63]:
7 ^ 8

15

In [64]:
7 << 8

1792

In [65]:
7>>8

0

# LOGICAL OPERATORS

In [71]:
a = 20
b = 35
b > 40 and b == 35

False

In [72]:
b < 40 and b > 20

True

In [73]:
not a == b

True

# MEMBERSHIP OPERATOR

In [76]:
ABC = "ANHJYFSGEGGGG"
"g" in ABC

False

# "J" in ABC

In [78]:
"S" not in ABC

False

# IDENTITY OPERATORS

In [79]:
A = 40
B = 40
A is B

True

In [80]:
A is not B

False

# OPERATOR PRECEDENCE

In [81]:
10+20/3*6

50.0

In [82]:
10+30/3*6-30

40.0

# EXTRA

In [83]:
10>9>7

True

In [84]:
10>9>11

False